.whoiam-container {
  background-color: #022221;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.whoiam-text {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  color: #fff;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-left: 25vw;
}

.whoiam-text > p {
  letter-spacing: 17px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.whoiam-input {
  padding: 8px 20px;
  border-radius: 2px;
  margin-right: 10px;
  outline: none;
  font-size: 18px;
  margin-bottom: 16px;
  border: 1px solid #fff;
}

.whoiam-links {
  width: 100%;
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.whoiam-link-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.whoiam-link-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 16px;
  text-align: left;
  width: 160px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.whoiam-link-items h2 {
  margin-bottom: 16px;
}

.whoiam-link-items > h2 {
  color: #FF7A8A;
}

.whoiam-link-items a {
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.whoiam-link-items a:hover {
  color: #e9e9e9;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.whoiam-email-form h2 {
  margin-bottom: 2rem;
}

.whoiam-input::-webkit-input-placeholder {
  color: #b1b1b1;
}

.whoiam-input:-ms-input-placeholder {
  color: #b1b1b1;
}

.whoiam-input::-ms-input-placeholder {
  color: #b1b1b1;
}

.whoiam-input::placeholder {
  color: #b1b1b1;
}

/* Social Icons */
.social-icon-link {
  color: #fff;
  font-size: 3rem;
}

.social-icon-link:hover {
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
  -webkit-animation: MoveUpDown 0.8s linear infinite;
          animation: MoveUpDown 0.8s linear infinite;
  position: relative;
}

.social-media {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.social-media-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  max-width: 1000px;
  margin: 40px auto 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
}

.social-logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}

.website-rights {
  color: #fff;
  margin-bottom: 16px;
}

.photo {
  position: absolute;
  min-height: 100vh;
}

@media screen and (max-width: 820px) {
  .photo {
    max-width: 100vw;
    height: 100vh;
  }
  .whoiam-links {
    padding-top: 2rem;
  }
  .whoiam-input {
    width: 100%;
  }
  .btn {
    width: 100%;
  }
  .whoiam-link-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .social-media-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 5px auto 0 auto;
  }
  .solveaproblem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .whoiam-text {
    display: inline;
    margin-top: auto;
    margin-bottom: auto;
  }
  .whoiam-text > p {
    font-size: 4vw;
    letter-spacing: 15px;
    max-width: 75vw;
  }
}

@media (max-width: 759px) {
  .social-icon-link {
    color: #fff;
    font-size: 4rem;
    margin: 5px;
  }
  .whoiam-text {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    min-width: 100vw;
  }
  .whoiam-text > p {
    min-width: 100vw;
    font-size: 5.5vw;
    letter-spacing: 25px;
    font-weight: 900;
  }
}

@media (max-width: 640px) {
  .whoiam-text {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    min-width: 100vw;
  }
  .whoiam-text > p {
    min-width: 100vw;
    font-size: 6.5vw;
    letter-spacing: 15px;
    font-weight: 500;
  }
}
/*# sourceMappingURL=WhoIam.css.map */