*{
	z-index: 2;
	scrollbar-width: none;


}


.globe {
	border: 2px solid #ffffff;
	border-radius: 50%;
	/* position: absolute; */

	height: 75px;
	
	width: 75px;
	overflow: hidden;
	transform: translate(-50%, -50%);
	top: 60px;	right: 0px;
	position: fixed;

	
	
  }

  svg {
	animation: rotation 20s linear 0s infinite;
	
	
  }
  path {
	stroke: #ffffff;
  }
  
  @keyframes rotation {
	from {
	  transform: translateX(0);
	}
	
	from {
	  transform: translateX(-50%);
	}
  }

.particle-canvas {
    position:fixed !important;
    left:0;
    top:0;
    width:100%;
    height:100%;
	z-index: 0;
}





.hero-container{
	/* background: url('images/img,home.jpg') center center/cover no-repeat; */
	/* opacity: 0.2; */
	height: 100vh;
	background-color: rgb(53, 59, 71);
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: inset 0 0 0 1000px rgab (0,0,0,0.2);
	object-fit: contain;


}

.hero-container > img{
// position: absolute;
top: 100px;
	display: inline-block;
  width: 220px;
  height: 220px;
  border-radius: 50%;
/* margin-bottom: 120px; */
  background-repeat: no-repeat;
  /* background-position: top center; */
  background-size: cover;
  border: solid 4px white;
  
}
.name, .icon{
	text-align: center;
	display: flex;
	justify-content: center;
}
.Typist > h1{

	color: white;
	font-size: 100px;
	/* margin-top: -100px; */

}
 p{
	

	margin-top: 8px;
	color: white;
	font-size: 32px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Typist>h2{
color: red;
font-size: 30px;
}
.hero-btns{
	// position: absolute;
	bottom: 100px;
	margin-top: 20px;
	z-index: 2;



}

.hero-btns .btn {
	margin: 6px;
	z-index: 2;

}

.fa-play-circle{
	margin-left: 4px;
}
.icon{
	

	margin-top: 8px;
}


@media screen and (max-width: 960px) {
	.Typist> h1 {
		font-size: 50px;
		margin-top: -150px;
	}
	.globe {
	
		position: absolute;
	
		
		
		
	  }.hero-btns{
		  width: 80%;
		  display: flex;
    justify-content: center;
	  }


	.icon{
	

		margin-top: 8px;
	}
}
	@media screen and (max-width: 768px){
		.Typist> h1 {
			font-size: 50px;
			margin-top: -100px;
	}


.hero-btns{
	width: 80%;
	display:block;
// justify-content: center;
}

	.Typist > p {
		font-size: 30px;


	}
	btn-mobile{
		z-index: 30;
		display: block;
		text-decoration: none;

	}
.btn{
	width: 100%;
}

}

