* {
  z-index: 2;
  scrollbar-width: none;
}

@-webkit-keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 4px;
  }
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 4px;
  }
}

.globe {
  border: 2px solid #ffffff;
  border-radius: 50%;
  /* position: absolute; */
  height: 75px;
  width: 75px;
  overflow: hidden;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 60px;
  position: fixed;
  right: -30px;
  z-index: 150;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.globe:hover {
  cursor: pointer;
  -webkit-box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
          box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
  -webkit-animation: MoveUpDown 0.8s linear infinite;
          animation: MoveUpDown 0.8s linear infinite;
}

.globesvg {
  -webkit-animation: rotation 20s linear 0s infinite;
          animation: rotation 20s linear 0s infinite;
}

.globesvg:hover {
  -webkit-animation: rotation 3s linear 10s infinite;
          animation: rotation 3s linear 10s infinite;
}

path {
  stroke: #ffffff;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  from {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  from {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.particle-canvas {
  position: fixed !important;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.hero-container {
  /* background: url('images/img,home.jpg') center center/cover no-repeat; */
  /* opacity: 0.2; */
  height: 116vh;
  background-color: #353b47;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: inset 0 0 0 1000px rgab 0, 0, 0, 0.2;
          box-shadow: inset 0 0 0 1000px rgab 0, 0, 0, 0.2;
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
}

.hero-container::before {
  content: '';
  border-top-right-radius: 10% 10%;
  border-top-left-radius: 100% 100%;
  position: absolute;
  bottom: 0;
  z-index: -1;
  width: 100%;
  background-color: #022221;
  height: 13%;
}

.hero-container > img {
  top: 100px;
  display: inline-block;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  /* margin-bottom: 120px; */
  background-repeat: no-repeat;
  /* background-position: top center; */
  background-size: cover;
  border: solid 4px white;
}

.name, .icon {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Typist > h1 {
  color: white;
  font-size: 100px;
  /* margin-top: -100px; */
}

p {
  margin-top: 8px;
  color: white;
  font-size: 32px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Typist > h2 {
  font-size: 30px;
}

.hero-btns {
  bottom: 100px;
  margin-top: 20px;
  z-index: 2;
}

.hero-btns .btn {
  margin: 6px;
  z-index: 2;
}

.fa-play-circle {
  margin-left: 4px;
}

.icon {
  margin-top: 8px;
}

.Typist > h1 {
  font-size: 50px;
  margin-top: -150px;
}

.globe {
  position: absolute;
}

.hero-btns {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icon {
  margin-top: 8px;
}

@media (min-width: 760px) and (max-width: 1024px) {
  /* CSS */
  .globe {
    height: 150px;
    width: 150px;
    top: 100px;
  }
  .Typist > h1 {
    font-size: 50px;
  }
  .hero-container > img {
    height: 400px;
    width: 400px;
  }
  .hero-btns {
    width: 80%;
    display: block;
  }
  .name, .rocket {
    font-size: 5vw;
  }
  .Typist > p {
    font-size: 30px;
  }
  .btn {
    font-size: 3vw;
    width: 100%;
    margin: 10px;
  }
}

@media (max-width: 759px) {
  .hero-btns {
    width: 80%;
    display: block;
    margin-bottom: 100px;
  }
  .name {
    font-size: 2rem;
    margin: 5px;
  }
  .btn {
    font-size: 3vw;
    width: 100%;
    margin: 10px;
  }
  .globe {
    height: 130px;
    width: 130px;
    top: 80px;
  }
}

@media (max-width: 640px) {
  .globe {
    height: 80px;
    width: 80px;
    top: 50px;
  }
  .btn {
    font-size: vw;
  }
  .name, .rocket {
    font-size: 1.5rem;
    margin: 5px;
  }
}

@media (max-width: 400px) {
  .globe {
    height: 60px;
    width: 60px;
    top: 50px;
    right: 0px;
  }
  .btn {
    font-size: 4vw;
    margin-bottom: 0px;
  }
  .hero-btns {
    margin-bottom: 0px;
  }
  .name, .rocket {
    font-size: 1.5rem;
    margin: 5px;
  }
  .hero-container > img {
    height: 110px;
    width: 110px;
  }
}
/*# sourceMappingURL=Hero.css.map */