footer {
	background-color: black;
	color: white;
	font-size: 1.3rem;
	letter-spacing: 3px;
	display: flex;
	align-items: center;
	justify-content: center;
}

button {
	background: transparent;
	color: white;
	border: none;

	font-size: 1.3rem;
	// margin-right: 0px 1px 10px 0px;
}
