.cards {
  padding: 5px;
  background-color: #242424;
}

h1 {
  text-align: center;
  color: #fff;
}

.cards__container {
  flex-flow: column;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.cards__wrapper {
  position: relative;
  margin: 50px 0 45px;
}

.cards__items {
  margin-bottom: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cards__item {
  background-color: #022221;
  border: 3px solid #979797;
  display: flex;
  flex: 1 1;
  margin: 0 1rem;
  border-radius: 10px;
  min-width: 30vw;
  margin-bottom: 20px;
  max-width: 30vw;
}

.cards__item__link {
  display: flex;
  flex-flow: column;
  width: 100%;
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}

.cards__item__pic-wrap {
  position: relative;
  width: 100%;
  padding-top: 67%;
  overflow: hidden;
}

.fade-img {
  -webkit-animation-name: fade-img;
          animation-name: fade-img;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.cards__item__pic-wrap::after {
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  /* margin-left: 10px; */
  padding: 6px 8px;
  text-align: center;
  width: 100%;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background-color: #252323;
  box-sizing: border-box;
}

.cards__item__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.2s linear;
}

.cards__item__img:hover {
  transform: scale(1.1);
}

.cards__item__info {
  display: flex;
  margin: 20px;
  justify-content: center;
}

.cards__item__text {
  color: #fff;
  font-size: 1.3rem;
  line-height: 24px;
  margin: 5px;
  text-decoration: none;
}

.cards__item_tag {
  margin: 5px;
  background-color: #ff7a8a;
  border-radius: 20px;
  color: #022221;
  font-size: 1rem;
  min-width: 50px;
  max-width: 90px;
  text-align: center;
  padding: 5px;
}

@-webkit-keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 4px;
  }
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 4px;
  }
}
.btnlink {
  margin: 5px;
  padding: 10px;
  display: flex;
  max-height: 40px;
  border-radius: 2px;
  cursor: pointer;
  background-color: transparent;
  color: #f5eeee;
  outline: 1px solid;
  outline-color: rgba(0, 0, 0, 0);
  outline-offset: 0;
  transition: all 0.3s ease-out;
  justify-content: flex-start;
  align-content: center;
  flex-direction: row;
  align-items: center;
  border: 2px solid rgb(236, 227, 227);
}
.btnlink a {
  text-decoration: none;
  color: #fff;
}
.btnlink i {
  font-size: 2rem;
}

.btnlink:hover,
.btnlink:hover {
  color: #ddd8d8;
  /* transition: all 0.3s ease-out; */
}

.btnlink:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(245, 243, 243, 0.5), 0 0 20px rgba(255, 253, 253, 0.2);
  -webkit-animation: MoveUpDown 0.8s linear infinite;
          animation: MoveUpDown 0.8s linear infinite;
  position: relative;
}

@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
}
@media only screen and (max-width: 1024px) {
  .cards__items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .cards__item {
    min-width: 300px;
    min-height: 300px;
  }
}
@media only screen and (max-width: 1024px) {
  .cards__item {
    margin-bottom: 2rem;
  }
}
@media (max-width: 769px) {
  .cards__item {
    min-width: 70vw;
  }
}/*# sourceMappingURL=Cards.css.map */